*{
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background:linear-gradient(150deg,#16222A,#3A6073) ;
}
.quiz-container{
    width: 100%;
    max-width: 700px;
    margin: 100px auto 20px;
    background: #fff;   
    padding: 40px 30px 70px;
    border-radius: 10px;
    text-align: center;
}
.quiz-container h1{
    color:#16222A ;
    text-align: center;
    margin-bottom: 60px;
}
.quiz-container a{
    text-decoration: none;
    margin: 20px auto 0;
    background-color: #3A6073;
    color: #fff;
    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s transform 0.3s;
}
.quiz-container a:hover {
    background-color: #2C4951;
    
}

.question-container{
    width: 100%;
    background: #2C4951;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 650;
}

.choices-container{
    margin: 20px auto 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.choices-container button{
    
    width: 49%;
    font-size: 16px;
    font-weight: 450;
    text-decoration: none;
    margin: 20px auto 0;
    background-color: #3A6073;
    color: #fff;
    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s transform 0.3s;
}

.quiz-container button:hover {
    background-color: #2C4951;
    transform: translateY(-2px);
}
.quiz-container button:active{
    transform: translateY(0);
}
